// https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme

:host {
  --mdc-theme-primary: rgb(18, 79, 120);
  --mdc-theme-on-primary: #fff;
  --mdc-theme-secondary: #000;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-accent: #d1480e;
  --mdc-theme-error: #b00020;
  margin: 0;
}

a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
}
@import "src/style/typography.scss";
*[slot] {
  font-family: $mdc-typography-font-family;
}
