@import "./core.scss";
@import "@material/theme/mdc-theme.scss";
@import "./typography.scss";

:host[hidden] {
  display: none;
}
:host a,
a {
  text-decoration: none;
}
.error {
  --mdc-theme-primary: var(--mdc-theme-error);
}
*:not(:defined) {
  display: none;
}
