// https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography#css-custom-properties
$mdc-typography-font-family: unquote("Inter var, sans-serif") !important !default;

@import "@material/typography/mdc-typography.scss";

// The relative font URLs below work from the compiled typography.css
// Use by including <link rel="stylesheet" href="/@npolar/mdc/css/style/typography.css" />
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("../../font/inter/Inter-upright.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: "Italic";
  font-display: swap;
  src: url("../../font/inter/Inter-italic.var.woff2") format("woff2");
}

[slot] {
  font-family: $mdc-typography-font-family !important;
}

//https://github.com/material-components/material-components-web-components/issues/1050#issuecomment-606179722
// @use "@material/typography";
//
// .my-headline {
//   @include typography.typography(headline1);
// }
